* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  .bgpic {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(./Images/chabgp.jpg);
    background-size: cover;
    background-position: center;
  }
  
  /* HEADER/NAVIGATION */
  .navbar {
    width:  92.5%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 120px;
    cursor: pointer;
    margin-right: 130px;
    margin-left: -17.7px;
  }
  
  img {
    mix-blend-mode: multiply;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    margin-bottom: 50px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }
  
/* CUSTOM SCROLLBAR */

  body {
    overflow-y: hidden;
  }
  

  /* FAQ */

  .faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #009688;
    margin-top: -70px;
  }

  .faqs h1 {
    font-size: 200%;
  }

  #FAQul {
    margin: 100px auto;
    width: 600px;
    margin-top: 6px;
  }

  #FAQul li{
    list-style: none;
    width: 100%;    
    margin-bottom: 10px;
    background: #0202029d;
    padding: 10px;
    border-radius: 4px;
  }

  #FAQul li label{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    color: #f8f8f8;
  }

  #FAQul li label span {
    transform: rotate(90deg);
    font-size: 22px;
    color: #ffffff;
  }

  #FAQul label + input[type="radio"] {
    display:none;
  } 

  #FAQul .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  #FAQul label + input[type="radio"]:checked + .content{
    max-height: 400px;
  }

  #FAQul p{
    color: #ffffff88;
  }


  .effct {
    flex-basis: 31%;
    background: #00968749; 
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  .effct:hover {
    box-shadow: 0 0 20px 0px #009688;
  }
